bitstring>=3.1
fastnumbers>=3.2
fastybird-devices-module>=0.60
fastybird-metadata>=0.60
inflection>=0.5
kink>=0.6
pycryptodome>=3.14
requests>=2.27
setuptools>=57.4
tuyaface>=1.4
types-requests>=2.27
websockets>=10.3
whistle>=1.0
